<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turma do Bem Connect</title>
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/estilo-index.css">
    <link rel="icon" href="../static/assets/imagens/favicon.png">
</head>
<body>

    <header class="header">
        <div class="header-container">
            <div class="logo">
                <img src="../static/assets/imagens/logotipo-120x120.png" alt="Ícone de mãos segurando pessoas">
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="./index.html">Início</a></li>
                    <li><a href="./pages/quem-somos.html">Quem Somos</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="./pages/contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
    <section class="hero-section">
        <div class="hero-text">
            <h1>TURMA DO BEM</h1>
            <h2>Connect</h2>
            <p>Uma plataforma de gestão B2NGO</p>
            
            <a href="#" class="btn-primary">SAIBA MAIS SOBRE O PROJETO</a>
            
        </div>
        </section>
</main>

    <footer class="footer">
        <div class="footer-container">
            <p>&copy; 2025 Turma do Bem Connect. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>