<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos - Turma do Bem Connect</title>
    <link rel="stylesheet" href="../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../static/assets/css/estilo-quemsomos.css">
    <link rel="icon" href="../../static/assets/imagens/favicon.png">
</head>
<body>

    <header class="header">
        <div class="header-container">
            <div class="logo">
                <img src="../../static/assets/imagens/logotipo-120x120.png" alt="Logotipo da Turma do Bem Connect">
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="../../index.html">Início</a></li>
                    <li><a href="./quem-somos.html">Quem Somos</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="./contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">

        <section class="project-description">
            <h2>Missão: Otimizar para expandir o impacto</h2>
            <p>
                O Turma do Bem Connect é uma solução acadêmica para o desafio proposto pela FIAP em parceria com a ONG Turma do Bem. O objetivo é aplicar a tecnologia para resolver um problema real: otimizar a gestão de atendimentos e a comunicação da organização com seus diversos públicos.
            </p>
            <p>
                A Turma do Bem já possui um modelo de sucesso com um impacto notável. A proposta do Turma do Bem Connect é potencializar esse alcance. Acreditamos que, com as otimizações certas em seus processos já consolidados, podemos fornecer um caminho claro para a escalabilidade, permitindo que a organização cresça e ajude ainda mais pessoas."
            </p>
        </section>

        <h3 class="section-subtitle">O responsável pelo desenvolvimento:</h3>

        <section class="member-profile">
            <img src="../../static/assets/imagens/foto-integrante.png" alt="Foto do integrante" class="profile-photo">
            <h2>Yuri Fernandes dos Santos</h2>
            <p><strong>RM:</strong> 568553</p>
            <p><strong>Turma:</strong> 1TDSPB MATUTINO</p>
            <div class="icon-redesocial">
                <div class="social-item">
                <a href="https://github.com/Fernandes-Yuri"target="_blank"><img src="../../static/assets/imagens/icon-github.png" alt="Ícone do GitHub"></a>
                <a href="https://github.com/Fernandes-Yuri"target="_blank">GitHub</a>
            </div>
            <div class="social-item">
                <a href="https://www.linkedin.com/in/yuri-fernandes-901247385/"target="_blank"><img src="../../static/assets/imagens/icon-linkedin.png" alt="Ícone do LinkedIn"></a>
                <a href="https://www.linkedin.com/in/yuri-fernandes-901247385/"target="_blank">Linkedin</a>
            </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <p>&copy; 2025 Turma do Bem Connect. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>