<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - Turma do Bem Connect</title>
    <link rel="stylesheet" href="../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../static/assets/css/estilo-sobre.css">
    <link rel="icon" href="../../static/assets/imagens/favicon.png">
</head>
<body>

    <header class="header">
        <div class="header-container">
            <div class="logo">
                <img src="../../static/assets/imagens/logotipo-120x120.png" alt="Logotipo da Turma do Bem Connect">
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="../../index.html">Início</a></li>
                    <li><a href="./quem-somos.html">Quem Somos</a></li>
                    <li><a href="./sobre.html">Sobre</a></li>
                    <li><a href="./faq.html">FAQ</a></li>
                    <li><a href="./contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content-sobre">
        <section class="about-project">
            <div class="text-content">
                <h2>Sobre o Projeto: Turma do Bem Connect</h2>
                <p>A Ideia: O Turma do Bem Connect é uma plataforma de gestão <span class="b2ngo">Business to Non-Governmental Organization (B2NGO)</span> pensada para otimizar e centralizar a comunicação da ONG Turma do Bem com seus públicos: beneficiários, dentistas voluntários e gestores.
                </p>
                <p>O que você verá a baixo lado é uma simulação interativa de um "MVP (Minimum Viable Product)". A Sprint 1 focou na criação da estrutura visual e na definição das funcionalidades essenciais pensadas no <a href="https://trello.com/invite/b/68dc23a302e319731753d24f/ATTI83d40fe6b39ef99a1ef243ed9dcaa7a2A09711BA/turma-do-bem-tdb-connect" target="_blank">backlog</a>. Nas próximas sprints, evoluiremos este protótipo para uma aplicação web completa e responsiva, com banco de dados e funcionalidades dinâmicas.
                </p>
                
            </div>
            <div class="tablet-simulator">
                <div class="tablet-frame">
                    <div class="tablet-screen">
                        <iframe src="../../tbp-simulation-mpv/index.html" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer class="footer">
        <div class="footer-container">
            <p>&copy; 2025 Turma do Bem Connect. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>